html {
  background-color: black;
}

.App {
  align-items: center;
  text-align: center;
}

.App h1 {
  color: white;
}

.buttonStyle {
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  background-color: red;
  font-size: 50px;
  font-weight: 600;
  padding: 2.5rem;
  cursor: pointer;
}

.signInContainer {
  padding: 15rem;
}
